<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
>
<head>
</head>
<body>
<div th:fragment="comments">

    <div sec:authorize="hasRole('ROLE_ANONYMOUS')">
        <h5>Чтобы оставить комментарий, пожалуйста, <a th:href="@{/login}">авторизируйтесь.</a></h5>
    </div>
    <div sec:authorize="hasAnyRole('ROLE_USER, ROLE_ADMIN')">
        <div class="row">
            <div class="col">
                <form action="/sendcomment" method="post">
                    <input name="product" hidden="hidden" th:value="${product.name}" value="0">
                    <input name="isDiscussion" hidden="hidden" th:value="${isDiscussion}" type="text">
                    <input name="msg"  hidden="hidden" th:value="${0L}">
                    <div class="form-group">
                        <label for="comment">Ваше сообщение</label>
                        <textarea maxlength="300" id="comment" name="comment" class="form-control" rows="3"
                                  onfocusout="clearMsgId(this)"></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-secondary">Отправить</button>
                </form>
            </div>
        </div>
        <hr>
    </div>
    <ul class="list-group list-group-flush">

        <li class="list-group-item">
            <div class="row">
                <div class="col-1">Автор</div>
                <div class="col">Пост</div>
            </div>
        </li>

        <li class="list-group-item" th:each="message : ${product.messages}">
            <div class="row">
                <div class="col-1">
                    <a href="#"
                       class="bbp-author-avatar">
                        <img th:src="${message.user.src}" src="" class='avatar avatar-80 photo' height="80"
                             width="80"/>
                    </a>
                    <div class="col">
                        <a href="#" th:text="${message.user.username}">author</a>
                        <div class="bbp-author-role">Member</div>
                    </div>
                </div>
                <div class="col ">
                    <div class="messageBody">
                        <p th:text="${message.text}">It would be good if there was possibility to add comments between
                            blocks in CSS files. Also
                            because sometimes, when copying some CSS with comments between, BS doesn&#8217;t know how to
                            handle that.</p>
                        <span class="bbp-reply-post-date" th:text="${message.date}">December 6, 2017 at 8:25 am</span>
                        <div class="action" sec:authorize="hasRole('ROLE_ADMIN')">
                            <button th:name="${message.id}" type="button" class="btn btn-info btn-xs" title="Edit"
                                    onclick="edit(this)">
                                <span class="fal fa-pen"></span>
                            </button>

                            <button th:name="${message.id}" type="button" class="btn btn-danger btn-xs" title="Delete"
                                    onclick="rem(this)">
                                <span class="far fa-trash-alt"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <div class="initialColor" th:attr="messageId=${message.id}, cval=${message.votes.get(userId)}"
                         sec:authorize="hasAnyRole('ROLE_USER, ROLE_ADMIN')"></div>
                    <div th:replace="fragments/comments :: vote (${message.rating}, ${message.id})"/>
                </div>
            </div>
        </li>
    </ul>

    <script sec:authorize="hasAnyRole('ROLE_USER, ROLE_ADMIN')">

        $(document).ready(function () {

            let list = document.getElementsByClassName('initialColor');
            for (let i = 0; i < list.length; i++) {
                let messageId = list[i].getAttribute('messageId');
                let cval = list[i].getAttribute('cval');

                colorifer(Number.parseInt(cval), messageId);
            }

        });

        function plus(element) {
            let temp = element.getAttribute("messageId");
            let s = {"messageId": temp, "dir": "up"};
            vote(s);

        }

        function minus(element) {
            let temp = element.getAttribute("messageId");
            let s = {"messageId": temp, "dir": "down"};
            vote(s);
        }

        function colorifer(cval, messageId) {
            console.log('colorifer(' + messageId + ', ' + cval + ');');
            let upclasses = 'fas fa-arrow-alt-circle-up vote';
            let downclasses = 'fas fa-arrow-alt-circle-down vote';

            let elem = document.getElementById('messageId' + messageId);
            let spans = elem.getElementsByTagName('span');
            if (cval === 1) {
                spans[0].setAttribute('class', upclasses + ' story__rating-up')

                spans[1].setAttribute('class', downclasses);


            } else if (cval === 0) {
                spans[0].setAttribute('class', upclasses);
                spans[1].setAttribute('class', downclasses);

            } else if (cval === -1) {
                spans[0].setAttribute('class', upclasses);

                spans[1].setAttribute('class', downclasses + ' story__rating-down')
            }
        }

    </script>

    <script>
        function vote(temp) {
            let t = JSON.stringify(temp);
            $.post({
                url: '/private/vote',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                data: t,
                success: function (data, textStatus) {
                    let scoreid = 'messagescore' + temp.messageId;
                    let score = document.getElementById(scoreid);
                    score.innerText = data.rating;
                    colorifer(data.cval, temp.messageId);

                }
            });


        }

        /*
                $("#voteUp").click(function () {
                    let t = JSON.stringify({"commentId": productId, "dir": "up"});
                    $.post({
                        url: 'private/vote',               // указываем URL и
                        dataType: "json",                     // тип загружаемых данных
                        contentType: "application/json; charset=utf-8",
                        data: t,
                        success: function (data, textStatus) { // вешаем свой обработчик на функцию success
                            if (data === 1) {

                                $("#voteUp").addClass('fas');
                            } else if (data === 0) {

                                $("#voteUp").removeClass('fas');

                            } else if (data === -1) {

                                $("#voteUp").removeClass('fas');
                            }
                        }
                    });
                });

        */
        async function edit(btn) {

            let elem = document.getElementsByName(btn.name)[0];
            elem = elem.parentNode.parentNode;
            let text = elem.firstElementChild.innerText;

            let idInput = document.getElementsByName('msg')[0];
            idInput.value = btn.name;

            let area = document.getElementsByTagName('textarea')[0];
            area.value = text;
            area.focus();
        }

        function rem(btn) {
            document.location.href = '/deletecomment?msgId=' + btn.name;
        }

        function clearMsgId(area) {
            if (area.value.length === 0) {
                let idInput = document.getElementsByName('msg')[0];
                idInput.value = '';
            }
        }
    </script>
</div>


<div th:fragment="vote (score, id)">
    <div class="story__rating-block" th:id="'messageId'+${id}">
        <div class="story__rating-up green-is-not-red" title="Поставить плюсик">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon--ui__rating-up icon--ui__rating-up_story">
                <span class="fas fa-arrow-alt-circle-up vote" onclick="plus(this)" th:attr="messageId=${id}"></span>
            </svg>
        </div>
        <div th:id="'messagescore'+${id}" class="story__rating-count" th:text="${score}">13884</div>
        <div class="story__rating-down" title="Поставить минус">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon--ui__rating-down icon--ui__rating-down_story">
                <span class="fas fa-arrow-alt-circle-down vote" onclick="minus(this)" th:attr="messageId=${id}"></span>
            </svg>
        </div>
    </div>
</div>
</body>
</html>