<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">
<br>
<br>
        <footer class="my-footer" id="footer" >
            <div class="footer-copyright text-center  ">

                ©2020 pyro.com
            </div>
        </footer>
    <script>
        $( window ).resize(function() {
           resize();
        });

        if ($(document.body).height() <= $(window).height()){
            $("#footer").css("position","absolute");
        }
        else {
            $("#footer").css("position","static");
        }

        function resize() {

            if ($(document.body).height() <= $(window).height()){
                $("#footer").css("position","absolute");
            }
            else {
                $("#footer").css("position","static");
            }
        }
    </script>

</div>
</body>
</html>