<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>


    <div th:fragment="header-css">
        <!-- this is header-css -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
              integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
              integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

       <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>

        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>

        <!--link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css"-->
        <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
        <link rel="stylesheet" type="text/css" th:href="@{/css/comments.css}"/>

    </div>
</head>
<div th:fragment="header" style="width: 100%">
    <title>ZooHerbal wikiTalk</title>
    <!-- this is header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">ZooHerbal</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">На главную <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/plants">Растения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/animals">Животные</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Форум</a>
                </li>

            </ul>
            <form class="form-inline ml-auto" action="/productq" method="get">
                <div class="md-form my-0">
                    <input list="results" class="form-control" type="search" name="productName" oninput="search(this)"
                           placeholder="Поиск" aria-label="Search">
                    <datalist id="results"></datalist>
                </div>
                <button href="#!" class="btn btn-info btn-md my-0 ml-sm-2" type="submit">Поиск</button>
            </form>
             
            <div class="my-2 my-lg-0">
                <a sec:authorize="hasRole('ROLE_ANONYMOUS')" href="/registration"
                   class="btn btn-outline-info my-2 my-sm-0">Регистрация</a>
                <a sec:authorize="hasRole('ROLE_ANONYMOUS')" href="/login" class="btn btn-outline-info my-2 my-sm-0">Войти</a>
                <a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin"
                   class="btn btn-outline-info my-2 my-sm-0">Личный кабинет</a>
                <a sec:authorize="hasRole('ROLE_USER')" href="/private" class="btn btn-outline-info my-2 my-sm-0">Личный
                    кабинет</a>
                <a sec:authorize="isAuthenticated()" href="/logout" class="btn btn-outline-info my-2 my-sm-0">Выйти</a>
            </div>
        </div>

    </nav>
    <!--button type="button" onclick="goBack()" style="margin-top: 20px; margin-left: 10px;"
            class="btn btn-outline-secondary">Назад
    </button-->
    <script>
        function goBack() {
            window.history.go(-1);
        }

        async function search(input) {

            fetch(document.location.origin+"/searchq/?value=" + input.value, {
                credentials: 'same-origin',
                method: 'POST',
                headers : {
                    'Content-Type': 'application/json',
                }
            }).then(response => response.json())
                .then(products => {
                    document.getElementById("results").innerHTML = '';
                    for (let i of products) {
                        let optionElement = document.createElement("option");
                        optionElement.value = i.name;
                        document.getElementById("results").appendChild(optionElement);
                    }
                });

        }
    </script>
</div>

</body>
</html>
