<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="jumbotron">
<table>
    <tr>
        <td style="padding-right: 3%; width: 50%">
            <div th:if="${error != null}" class="alert alert-block alert-danger messages status">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <div th:text="${error}"></div>
            </div>
            <form action="/admin/product" method="post" enctype="multipart/form-data" th:object="${defaultProduct}">
            <input name="id" type="number" hidden="hidden" th:value="${defaultProduct.id}">
            <div class="form-group  ">
                <!-- cat start -->
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Классификация
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne"  aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">

                                <div class="form-group  ">
                                    <label for="name">Царство</label>
                                    <input name="kingdom" type="text" class="form-control" id="catKingdom"  placeholder="Kingdom" required
                                           maxlength=25 th:field="${defaultProduct.genus.family.order.klass.phylum.kingdom.name}">
                                </div>

                                <div class="form-group  ">
                                    <label for="name">Тип</label>
                                    <input name="type" type="text" class="form-control" id="catType"  placeholder="Type" required
                                           maxlength=25 th:field="${defaultProduct.genus.family.order.klass.phylum.name}">
                                </div>

                                <div class="form-group  ">
                                    <label for="name">Класс</label>
                                    <input name="class" type="text" class="form-control" id="catClass"  placeholder="Class" required
                                           maxlength=55 th:field="${defaultProduct.genus.family.order.klass.name}">
                                </div>

                                <div class="form-group  ">
                                    <label for="name">Порядок</label>
                                    <input name="class" type="text" class="form-control" id="catOrder"  placeholder="Order" required
                                           maxlength=55 th:field="${defaultProduct.genus.family.order.name}">
                                </div>

                                <div class="form-group  ">
                                    <label for="name">Семейство</label>
                                    <input name="class" type="text" class="form-control" id="catFamily"  placeholder="Family" required
                                           maxlength=55 th:field="${defaultProduct.genus.family.name}">
                                </div>

                                <div class="form-group  ">
                                    <label for="name">Род</label>
                                    <input name="class" type="text" class="form-control" id="catGenus"  placeholder="Genus" required
                                           maxlength=55 th:field="${defaultProduct.genus.name}">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- Cat end -->

            </div>
            <div class="form-group  ">
                <label for="name">Название</label>
                <input name="name" type="text" class="form-control" id="name"  placeholder="Product name" required
                      maxlength=75 th:field="${defaultProduct.name}">
            </div>
            <div class="form-group  ">
                <label for="Description">Описание</label>
                <textarea path="description" name="description" maxlength="1024" class="form-control" id="Description" required rows="5"
                          placeholder="Description" th:field="${defaultProduct.description}">
                </textarea>
            </div>
            <div class="form-group  ">
                <label for="Image">Изображение</label>
                <input id="imgInput" type="file" name="image" class="form-control-file" >
            </div>
            <div class="form-group  ">
                <button type="submit" class="btn btn-primary">Подтвердить</button>
            </div>
        </form>
        </td>

    <td valign="top">
        <img id = "image" th:src="${defaultProduct.src}" class="product-image">
    </td>
    </tr>
</table>
    </div>

</div>
<script>
    function readURL(input) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#image').attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#imgInput").change(function(){
        readURL(this);
    });
</script>


<div th:replace="fragments/footer :: footer"/>


</body>
</html>