<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="jumbotron">

        <form action="/admin/product" method="post" enctype="multipart/form-data" th:object="${defaultProduct}">
            <input name="id" type="number" hidden="hidden" th:value="${defaultProduct.id}">
            <div class="form-group col-md-6">
                <label for="inputCategory">Категория</label>
                <select id="inputCategory" name="category" class="form-control" required>
                    <option
                            th:each="cat : ${categories}"
                            th:value="${cat.id}"
                            th:text="${cat.name}"
                            th:field=" ${defaultProduct.category}">
                    </option>
                </select>
                <!-- cat start -->

                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Classification
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">

                                <div class="form-group col-md-6">
                                    <label for="name">Царство</label>
                                    <input name="kingdom" type="text" class="form-control" id="catKingdom"  placeholder="Kingdom"
                                           maxlength=25 th:field="${defaultProduct.category.kindom}">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="name">Тип</label>
                                    <input name="type" type="text" class="form-control" id="catType"  placeholder="Type"
                                           maxlength=25 th:field="${defaultProduct.category.phylum}">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="name">Класс</label>
                                    <input name="class" type="text" class="form-control" id="catClass"  placeholder="Class"
                                           maxlength=25 th:field="${defaultProduct.category.clas}">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="name">Класс</label>
                                    <input name="class" type="text" class="form-control" id="catOrder"  placeholder="Order"
                                           maxlength=25 th:field="${defaultProduct.category.clas}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Cat end -->



            </div>
            <div class="form-group col-md-6">
                <label for="name">Название продукта</label>
                <input name="name" type="text" class="form-control" id="name"  placeholder="Product name" required
                      maxlength=19 th:field="${defaultProduct.name}">
            </div>
            <div class="form-group col-md-6">
                <label for="Description">Описание</label>
                <textarea path="description" name="description" maxlength="1024" class="form-control" id="Description" required rows="5"
                          placeholder="Description" th:field="${defaultProduct.description}">
                </textarea>
            </div>
            <div class="form-group col-md-6">
                <label for="Image">Изображение</label>
                <input type="file" name="image" class="form-control-file" id="Image" >
            </div>
            <div class="form-group col-md-6">
                <button type="submit" class="btn btn-primary">Подтвердить</button>
            </div>
        </form>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>