<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>


    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <div class="row">
        <div th:each="product : ${products}">
        <a th:href="@{/products(catId=${product.category.id})}">
        <div class="col-sm-4">
            <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img th:src="${product.src}" src="images/onion.jpg" class="card-image">
                    <div class="card-body">
                        <p class="card-text" th:text="${product.category.name}">Луковичные растения</p>
                    </div>
                </div>
            </div>
        </div>
        </a>
        </div>
        <!--
        <a href="/products?catId=72">
        <div class="col-sm-4">
            <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img src="images/predator.jpg" class="card-image">
                    <div class="card-body">
                        <p class="card-text">Хищные растения</p>
                    </div>
                </div>
            </div>
        </div>
        </a>
        <a href="/products?catId=71">
        <div class="col-sm-4">
            <div class="card-body">
                <div class="card" style="width: 18rem;">
                    <img src="images/cactus.jpg" class="card-image">
                    <div class="card-body">
                        <p class="card-text">Кактусы</p>
                    </div>
                </div>
            </div>
        </div>
        </a>

    </div>
    -->
    <!--  text  -->

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>