<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>


    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <img th:src="@{images/background1.jpg}" class="img-fluid">
    <div class="jumbotron">
        <div class="row ">
            <div class="col-sm">
                <h1>Растения</h1>
                <p>
                    Биологическое царство, одна из основных групп многоклеточных организмов,
                    включающая в себя в том числе мхи, папоротники, хвощи, плауны, голосеменные и
                    цветковые растения. Нередко к растениям относят также все водоросли или некоторые их группы.
                    Растения (в первую очередь, цветковые) представлены многочисленными жизненными
                    формами — среди них есть деревья, кустарники, травы и др.
                    Растения являются объектом исследования науки ботаники.
                    Эволюция растений привела к значительному усложнению форм жизни на Земле,
                    от ранних водорослей, через мохообразные, плауновидные, папоротники к
                    голосеменным и цветковым растениям. Несмотря на то, что более ранние группы
                    растений продолжают существовать и в позднейшие эпохи, считается, что новые группы,
                    как правило, более «успешны» в эволюционном плане.
                </p>
            </div>
            <div class="col-sm">
                <a th:href="@{/plants}" href="#">
                    <div class="card">
                        <img th:src="@{/images/plant.jpg}" src="images/onion.jpg" class="card-img-top">
                        <div class="card-body">

                            <p class="card-text">Растения</p>
                        </div>
                    </div>
                </a>
            </div>


        </div>

        <div class="row" style="margin-top: 3%">
            <div class="col-sm">
                <a th:href="@{/animals}" href="#">
                    <div class="card">
                        <img th:src="@{/images/animal.jpg}" src="images/onion.jpg" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text">Животные</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm">
                <h1>Животные</h1>
                <p>
                    Традиционно выделяемая категория организмов, в настоящее время рассматривается
                    в качестве биологического царства. Животные являются основным объектом изучения зоологии.
                    Классическими признаками животных считаются: гетеротрофность
                    и способность активно передвигаться.
                    Русское слово «животное» образовано от «живот», в прошлом означавшего
                    «жизнь, имущество». В быту под терминами «дикие животные», «домашние животные»
                    часто понимаются только млекопитающие или четвероногие наземные позвоночные
                    (млекопитающие, пресмыкающиеся и земноводные).
                    В научном смысле к животным, помимо млекопитающих, пресмыкающихся и земноводных, относится
                    огромное множество других организмов: рыбы, птицы, насекомые, паукообразные, моллюски, морские
                    звёзды, черви и другие.
                </p>
            </div>
        </div>
    </div>
    <!--
    <a href="/products?catId=72">
    <div class="col-sm-4">
        <div class="card-body">
            <div class="card" style="width: 18rem;">
                <img src="images/predator.jpg" class="card-image">
                <div class="card-body">
                    <p class="card-text">Хищные растения</p>
                </div>
            </div>
        </div>
    </div>
    </a>
    <a href="/products?catId=71">
    <div class="col-sm-4">
        <div class="card-body">
            <div class="card" style="width: 18rem;">
                <img src="images/cactus.jpg" class="card-image">
                <div class="card-body">
                    <p class="card-text">Кактусы</p>
                </div>
            </div>
        </div>
    </div>
    </a>

    </div>
    -->
    <!--  text  -->

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"/>

</body>
</html>