<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="jumbotron">

        <h1 th:text="'Личный кабинет ' + ${user.username}"></h1>
        <hr>
        <img th:src="${user.src}" class="product-image" th:if="${user.src != null}">
        <form th:action="@{/private/pic}">
            <div class="form-group  ">
                <label for="imgInput">Обновить аватар</label>
                <input id="imgInput" type="file" name="image" class="form-control-file" >
            </div>
        </form>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                   aria-selected="true">Избранное</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="goods-tab" data-toggle="tab" href="#goods" role="tab" aria-controls="goods"
                   aria-selected="true">Мои обсуждения</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                   aria-controls="profile" aria-selected="false">Статистика</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <hr>
                <ul class="list-group">
                    <li th:each="message : ${messages}" data-toggle="collapse"  th:attr="data-target='#demo'+${message.id}"
                        class="list-group-item d-flex justify-content-between align-items-center">
                            <div th:text="${message.header}"  >
                            </div>
                            <div class="my-2 my-lg-0" th:text="${message.date}"></div>
                            <div th:id="'demo'+${message.id}" class="collapse" th:text="${message.text}">
                                Lorem ipsum dolor text....
                            </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>