<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" style="  height: 100%;">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/sidebar.css}"/>
</head>
<body style="  height: 100%;">

<div th:replace="fragments/header :: header"/>

<div class="row" style="height:100%; " >

    <div class="col-3 col-sm-3" style="background: white;" >
        <div class="sidenav list-group list-group-flush" id="sidenav">

                <li class=" list-group-item d-flex justify-content-between align-items-center  ">
                   <h2>Категории</h2>
                </li>

            <a th:href="@{/products/kingdom}" href="#about" class="point list-group-item">
                <li class="  d-flex justify-content-between align-items-center  ">
                   Царство<span class="badge badge-secondary" th:text="${kingdomCount}"></span>
                </li>
            </a>
            <a th:href="@{/products/phylum}" href="#services" class="point list-group-item">
                <li class="  d-flex justify-content-between align-items-center">
                Тип<span class="badge badge-secondary" th:text="${phylumCount}"></span>
                </li>
            </a>
            <a th:href="@{/products/klass}" href="#clients" class="point list-group-item">
                <li class="  d-flex justify-content-between align-items-center ">
                Класс<span class="badge badge-secondary"th:text="${klassCount}">2</span>
                </li>
            </a>
            <a th:href="@{/products/order}" href="#contact" class="point list-group-item">
                <li class="  d-flex justify-content-between align-items-center ">
                Отряд<span class="badge badge-secondary"th:text="${orderCount}">2</span>
                </li>
            </a>
            <a th:href="@{/products/family}" href="#contact" class="point list-group-item">
                <li class="  d-flex justify-content-between align-items-center ">
                Семейство<span class="badge badge-secondary"th:text="${familyCount}">2</span>
                </li>
            </a>
            <a th:href="@{/products/genus}" href="#contact" class="point list-group-item">
                <li class="  d-flex justify-content-between align-items-center ">
                Род<span class="badge badge-secondary"th:text="${genusCount}">2</span>
                </li>
            </a>
        </div>
    </div>

    <div class="col-sm-8" style="margin-top: 2%; margin-left: 2% ; ">
        <h1 th:text="${catname}">Категории</h1>
        <hr>
        <div class="row">
            <div class="col-4 col-sm-auto" th:each="product1 : ${products}">
                <a th:href="@{/products/{path}(path = ${path}, catId=${product1.id})}" href="#">
                    <div class="card" style="margin-bottom: 5%; width: 17rem">
                        <img th:src="${product1.src}" src="images/onion.jpg" class="card-image">
                        <div class="card-body">

                            <p class="card-text" th:text="${product1.name}">Луковичные растения</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div th:replace="fragments/footer :: footer"/>


    </div>
</div>

<script>
    function highlight() {

        let list = document.getElementsByClassName('point');
        let location = document.location.href
        location = location.split('/');
        location = location[location.length-1];
        location = location.split('?');
        location = location[0];
        for (let i = 0; i < list.length; i++) {
            let elem = list[i].getAttribute('href')
                elem = elem.split('/')[2];
            if(elem==location){
                list[i].setAttribute('class','chosen' );
            }

        }
    }
    document.addEventListener("DOMContentLoaded", highlight);
</script>

<!-- /.container -->

</body>
</html>